nav ul{
    background-color: rgba(8, 92, 248, 0.596);
    border-style: solid;
    border-color: mediumvioletred;
    border-width: 2px;
    padding: 10px;
    font-size: 24px;
    word-spacing: 20px;
    text-align: center;
}
nav ul li:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color: blanchedalmond;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
body{
    background-image: url(background2.jpg);
    background-size: cover;
}
img{
    margin-left: 440px;
    width: 700px;
    height: 400px;
    border-radius: 20px;
    border: dashed 4px rgb(0, 83, 249);
}
.stylishbox{
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color:#f5fffa;
}
.somespacing{
    padding: 10px;
    margin-top: 20px;
}
p{
    color: black;
}
p:hover{
    font-size: 24px;
    color:beige;
    background-color: black;
    border-radius: 20px;
    padding: 4px;
}
  #preloader{
    background: #000 url(preloader\ \(2\).gif) no-repeat center center;
    background-size: 20%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}
@keyframes color-change {
    0%{ color: white;}
    16% { color: rgb(0, 0, 0); }
    32% { color: rgb(132, 132, 148); }
    48%{ color: rgb(165, 155, 97);}
    64%{ color: rgb(199, 136, 136);}
    80%{ color: rgb(121, 49, 49);}
    100% { color: rgb(255, 255, 255); }
  }