body{
    background-image: url(background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 30px;
    border-style: ridge;
}
img:hover{
    border: 2px dashed navy;
    width: 500px;
    height: 500px;
}
a{
    color: beige;
    font-size: 24px;
}
ul{
    color: white;
    font-size: larger;
}
h1{
    position: relative;
    color: rgb(54, 49, 39);
    background-color: rgba(240, 248, 255, 0.573);
    width: fit-content;
    border-radius: 10px;
    padding: 3px;
    margin-left: 340px;
    text-align: center;
    font-size: 24px;
}
nav ul{
    background-color: rgba(8, 92, 248, 0.596);
    border-style: solid;
    border-color: mediumvioletred;
    border-width: 2px;
    padding: 10px;
    font-size: 24px;
    word-spacing: 20px;
    height: 30px;
}
nav ul li:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 30px;
}
ul li{
    list-style-type: none;
    font-size: larger;
}
.topdevider{
    border-top-style: solid ;
    border-top-width: 2px;
    border-top-color: black;
    padding: 10px;
}
#preloader{
    background: #000 url(preloader\ \(2\).gif) no-repeat center center;
    background-size: 20%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}
@keyframes color-change {
    0%{ color: white;}
    16% { color: rgb(0, 0, 0); }
    32% { color: rgb(132, 132, 148); }
    48%{ color: rgb(165, 155, 97);}
    64%{ color: rgb(199, 136, 136);}
    80%{ color: rgb(121, 49, 49);}
    100% { color: rgb(255, 255, 255); }
  }
